.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
    background-color: aliceblue;
}

.button-primary {
    background-color: aqua;
}

.button-secondary {
    background-color: burlywood;
}

.button-error {
    background-color: red;
}
